<div class="jumbotron big-banner" style="height: 700px; padding-top: 120px; margin-bottom: 0px;  margin-top: 0px;">
	<div class="container" >
		<h1 class="text-warning" style="text-align:center; align-items: center; top:50%; left: 50%;" ><strong style="size: 1000px; text-align: center; color: black;">Welcome to Inwara</strong></h1>
	</div>	
</div>
<br>
<h1 style="text-align:center; color:mediumspringgreen; size: 100px;"><strong>Crypto News</strong></h1><br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
          <div class="card bg-dark  text-white ">
            <div class="card-body">
              <h5 class="card-title" style="color:orange; text-align: center"><strong>{{title1}}</strong></h5>
              <p class="card-text">{{desc1}}</p>
              <a href="{{url1}}" class="btn btn-primary" target="_blank">See</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card bg-dark  text-white ">
            <div class="card-body">
              <h5 class="card-title" style="color:orange; text-align: center"><strong>{{title2}}</strong></h5>
              <p class="card-text">{{desc2}}</p>
              <a href="{{url2}}" class="btn btn-primary" target="_blank">See</a>
            </div>
          </div>
        </div>
      </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
          <div class="card bg-dark  text-white ">
            <div class="card-body">
              <h5 class="card-title" style="color:orange; text-align: center"><strong>{{title3}}</strong></h5>
              <p class="card-text">{{desc3}}</p>
              <a href="{{url3}}" class="btn btn-primary" target="_blank">See</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card bg-dark text-white  ">
            <div class="card-body">
              <h5 class="card-title" style="color:orange; text-align: center"><strong>{{title4}}</strong></h5>
              <p class="card-text">{{desc4}}</p>
              <a href="{{url4}}" class="btn btn-primary" target="_blank">See</a>
            </div>
          </div>
        </div>
      </div>
</div>

<footer class="page-footer font-small orange pt-4" style="background-color:black;  margin-top: 20px;">

    <!-- Footer Links -->
    

          <!-- Content -->
          <p class="lead text-center text-primary">Inwara</p>
          
        
    <div class="footer-copyright text-center py-3 text-primary">© 2018 Copyright:<p style="color:azure">Sumit Kumar Jangir</p>
    </div>
    <!-- Copyright -->

  </footer>